#footer {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-size: 0.5em;
    text-align: center;
}

#notifications {
  position: fixed;
  width: 200px;
  height: 30px;
  top: 45px;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  text-align: center;
}

#weather {
  position: fixed;
  width:200px;
  height:30px;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  text-align: center;

  padding-top:5px;
}

#center {
  width: 400px;
  height: 120px;
  position: absolute;
  top:-50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#clock {
  font-size: 4em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

#greeting {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}